.featured {
  display: flex;
  flex: 1.5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px 10px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: space-between;

  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 20px;
      color: gray;
    }

    .icon {
      color: gray;
    }
  }

  .bottom {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    .featured-chart {
      width: 250px;
      height: 250px;
    }

    .desc{
        display: flex;
        gap: 10px;
        flex-direction: column;
p {
      font-size: 17px;
      
      text-align: center;
    }

    .title{
        font-size: 20px;
    }
    }
    
  }
}
