.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
  .title {
    font-size: 20px;
    color: gray;
  }

  img{
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .tableCell.Approved{
    color: green;
  }

  .tableCell.Pending{
    color: red;
  }
}
